[submodule "core/third_party/googletest"]
path = core/third_party/googletest
url = https://github.com/google/googletest.git
[submodule "core/third_party/abseil-cpp"]
path = core/third_party/abseil-cpp
url = https://github.com/abseil/abseil-cpp.git
[submodule "core/third_party/soil"]
	path = core/third_party/soil
	url = https://github.com/paralin/soil.git
