html {
    height: 100%;
}

body {
    margin: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;

    font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #14171a !important;
}

#root {
    height: 100%;

    // global variable
    --ui-background-color: #282c34;
    --ui-font-color: #cacad4;
    --ui-border-color: #181a1f;
    --ui-border: 1px solid var(--ui-border-color);
}

.gui {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    background-color: grey;
    height: 35px;

    background-color: var(--ui-background-color);
    color: var(--ui-font-color);
    border: var(--ui-border);
}

.container {
    display: flex;
    flex-grow: 1;
}

.left-panel {
    width: 250px;
    padding: 0px 24px;

    background-color: var(--ui-background-color);
    color: var(--ui-font-color);
    border: var(--ui-border);
}

.right-panel {
    width: 400px;
    padding: 0px 24px;

    background-color: var(--ui-background-color);
    color: var(--ui-font-color);
    border: var(--ui-border);
}

.main-view {
    flex-grow: 1;
}

.scene-canvas {
    width: 100%;
    height: 100%;
}
