@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html {
    height: 100%;
}

body {
    margin: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;

    font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #14171a !important;
}

#root {
    height: 100%;

    // global variable
    --ui-background-color: #282c34;
    --ui-font-color: #cacad4;
    --ui-border-color: #181a1f;
    --ui-border: 1px solid var(--ui-border-color);
}



